ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 100px;
  }
  
  li a:hover {
    background-color: #0084ff;
    border-radius: 10px;
    
  }
  #pure{
font-size: 80px;
font-weight: 100px;
margin-top: 150px;
margin-left: 30px;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
  }
  #responsive{
    font-size: 80px;
    font-weight: 100px;
    margin-top: 0;
    margin-left: 30px;
    color:rgb(0, 119, 255);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
      }
      #nav{
        font-size: 80px;
        font-weight: 100px;
        margin-top: 0;
        margin-left: 30px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
          }
          #Mr{
            margin-right: 300px;
          }
          div{

            height: 400px;
            width: 300px;
            border:1px solid;
            margin-left: 900px;
            margin-top: -500px;
            border-radius: 10px;
            background-color: rgb(2, 2, 58);
            color:white;
            text-align: center;
            cursor: pointer;

          }
        div :hover{
            background-color:#0084ff;
            
        }
        button{
            display: block;
            margin-left: 10px;
            margin-top: 30px;
            color: rgb(248, 248, 248);
            background-color: rgb(2, 2, 58);
            width: 90%;
        }
        a:link{
          color: aliceblue;
          text-decoration: none;
        }
a:visited{
  color: rgb(153, 136, 136);
  text-decoration: none;
}

